* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(38, 36, 36);
}

.notes {
  display: flex;
  gap: 10px;
  color: whitesmoke;
  padding: 10px;
  flex-wrap: wrap;
}

.note {
  border: 2px solid gray;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.note-create-form {
  padding: 10px;
  margin: 10px;
}

.note button {
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: royalblue;
  padding: 5px 10px;
  margin-top: 5px;
}

.note button:hover {
  background-color: aqua;
  color: black;
}
